<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.osukaandalafinderkeeper.finderkeeper" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SubActivity"
            android:label="@string/title_activity_sub" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Splashscreen"
            android:label="@string/title_activity_splashscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".ScheduledRides"
            android:label="@string/title_activity_scheduled_rides" >
        </activity>
        <activity
            android:name=".NewsRoom"
            android:label="@string/title_activity_news_room" >
        </activity>
        <activity
            android:name=".Rate"
            android:label="@string/title_activity_rate" >
        </activity>
        <activity
            android:name=".Logout"
            android:label="@string/title_activity_logout" >
        </activity>
        <activity
            android:name=".HowIsTraffic"
            android:label="@string/title_activity_how_is_traffic" >
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".Help"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name=".DesiredPref"
            android:label="@string/title_activity_desired_pref" >
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fce8e92a80b2b58a0aa6e8d2474b6f2cd9f1044e" />

        <activity
            android:name=".Verification"
            android:label="@string/title_activity_verification" >
        </activity>
    </application>

</manifest>
